
@{
    ViewData["Title"] = "Subir";
}

<h1>Subir Programa Presupuestario</h1>
<hr />
<form method="post" enctype="multipart/form-data" asp-controller="ProgramaPresupuestario" asp-action="Subir">
    <div class="form-group">

        <input type="file" name="file.FormFile" />

    </div>
    <div class="form-group">
        <label>Titulo</label>
        <input type="text" name="_Programa.Titulo" />

    </div>
    <div class="form-group">
        <label>Descripción</label>
        <input type="text" name="_Programa.Descripcion" />

    </div>
    <div class="form-group">
        <label>Ambito</label>
    <input type="text" name="_Programa.Ambito" />

    </div>
    <input type="submit" value="Subiendo" />
    <hr />
</form>
